

#header.container
  h1#logo DEF Code Projects
  p Projects by Dan Frankland
  nav#nav
    ul
      li
        a.icon.fa-cog(href='#')
          span Menu
        ul
          li
            a.icon.fa-home(href='/')  Home
          li
            a.icon.fa-question(href='#')  About