extends layout

div
  p I'm software engineer from Durango, CO. 

  h1 Education:
  p
    |Completed degrees:
    |BS Electrical Engineering, Youngstown State University
    |BS Biology, Youngstown State University
    |Ongoing studies:
    |MS Software Engineering, Penn State University (projected graduation - August 2016)