include TagsList

div
  h1
    a(href='https://github.com/defrankland/BottlingPlantRdbms', target='_blank', rel='nofollow') Bottling Plant Relational DB Spec/Implementation
  p(style='white-space:pre;')
      | Database spec, design, and Oracle SQL implementation.
      
  +TagList(selectedProject)