include TagsList

              
div
  p 
    strong Description:
    .line Store datasheets from the web and view in a browser. 
  h1 
    a(href='https://github.com/defrankland/DatasheetViewer', target='_blank', rel='nofollow') Follow This Link To Datasheet Viewer On GitHub


  +TagList(selectedProject)
  
